@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .8125rem;
    background-color: hsl(210, 46%, 95%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 35.75rem;
    width: 69.375rem;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 17.625rem 1fr;
    gap: 1.5rem 1.875rem;
}

footer {
    position: absolute;
    bottom: 3.125rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--very-dark-blackish-blue);
}

footer a {
    color: hsl(264, 82%, 70%);
}

.card {
    border-radius: .5rem;
}

#clifford {
    background-color: var(--moderate-violet);
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 22.25rem;
    grid-column: 1 / 3;
}

#walters {
    background-color: var(--very-dark-grayish-blue);
    grid-column: 3 / 4;
}

#whittle {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: var(--white);
}

#harmon {
    grid-column: 1 / 2;
    background-color: var(--white);
}

#abrams {
    grid-column: 2 / 4;
    background-color: var(--very-dark-blackish-blue);
}

.card-container {
    margin: 1.5rem 1.875rem;
    width: calc(100% - 3.75rem);
    height: calc(100% - 3rem);
}

.author-container {
    width: 100%;
    display: flex;
    height: 2.5rem;
}

h1, h2, p {
    margin: 0;
}

h2 {
    color: var(--light-gray);
    font-size: .8125rem;
    font-weight: 500;
    line-height: .8125rem;
    margin: .1875rem 0 0 0;
}

h1 {
    color: var(--white);
    font-size: 1.25rem;
    margin: .5625rem 0 0 .125rem;
}

.author-container p {
    margin: .125rem 0 0 0;
    font-size: .6875rem;
    color: var(--light-gray);
    opacity: 0.5;
    letter-spacing: .0063rem;
}

.content-container p {
    margin: .9375rem 0 0 .125rem;
    font-size: .8125rem;
    color: var(--light-gray);
    opacity: 0.7;
    line-height: 1.125rem;
}

#whittle h1, 
#harmon h1 {
    color: var(--very-dark-grayish-blue);
}

#whittle p, 
#harmon p, 
#whittle h2, 
#harmon h2 {
    color: var(--very-dark-grayish-blue);
}

#whittle h1, 
#harmon h1 {
    margin-bottom: 1.4375rem;
}

#abrams-heading {
    margin-bottom: 1.4375rem;
}

img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    margin-right: .9375rem;
    border: .125rem solid var(--white);
}

#clifford img, 
#abrams img {
    border: .125rem solid hsl(262, 63%, 64%);
}

#walters img {
    border: .125rem solid var(--very-dark-grayish-blue);
}

@media only screen and (max-width: 62.5rem) {
    body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    main {
        grid-template-columns: 21.875rem;
        grid-template-rows: repeat(5, auto);
        width: 21.875rem;
        height: 100%;
    }    

    #clifford { 
        grid-area: 1 / 1 / 2 / 2; 
        margin-top: 6.25rem;
    }

    #walters { grid-area: 2 / 1 / 3 / 2; }
    #whittle { grid-area: 3 / 1 / 4 / 2; }
    #harmon { grid-area: 4 / 1 / 5 / 2; }
    #abrams { 
        grid-area: 5 / 1 / 6 / 2; 
        margin-bottom: 6.25rem;
    }

    footer {
        display: none;
    }
}